---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <Header />
  <h1 class="text-center pt-[50px]">I will implement it later</h1>
</MainLayout>
