---
const today = new Date();
---

<hr class="max-w-4xl mx-auto border-gray-600 opacity-70 mt-8" />
<footer
  class="pt-10 text-zinc-500 opacity-70 p-4 dark:text-zinc-400 text-center"
>
  &copy; {today.getFullYear()}
  <a href="/about">Le Ba Nguyen Vu</a>. All rights reserved.
</footer>
