body {
  font-family: -apple-system, BlinkMacSystem, "Segoe UI", Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
